<div class="tab-pane fade {% if id == 'upcoming-events' %}show active{% endif %}" 
     id="{{ id }}" role="tabpanel" aria-labelledby="{{ id }}-tab">
  {% for section in sections %}
    <div class="border-bottom pb-5" aria-label="events-section">
      <div class="pt-4">
        {% for event in section.items %}
          {% assign images = event.images | default: empty %}

          <div class="row" aria-label="event-container">
            <div class="col-sm-12 col-md-8">
              <h3 class="pb-4 text-dark">{{ section.name }}</h3>
              <div class="h5 text-muted">{{ event.year }}</div>
              <h4 class="text-dark">{{ event.event_title }}</h4>
              <div id="event-content" class="content-preview pt-2">
                {{ event.content | markdownify }}
              </div>
              <button class="btn btn-link p-0 text-primary d-inline-block mb-3" style="display: none;">Read more</button>
            
              {% if images.size > 0 %}
                {% include images.html %}
              {% endif %}
            </div>

            {% if images.size > 0 %}
              <div id="imageModal{{ section.name }}" class="modal fade" tabindex="-1" aria-hidden="true" data-images='{{ images | jsonify }}'>
                <div class="modal-dialog modal-dialog-centered modal-lg">
                  <div class="modal-content bg-transparent border-0">
                    <div class="modal-body position-relative p-0 text-center">
                      <img id="modalImage{{ section.name }}" src="" class="img-fluid rounded modal-img" />
                      <i class="bx bx-chevron-left nav-arrow left-arrow" onclick="prevImage('{{ section.name }}')"></i>
                      <i class="bx bx-chevron-right nav-arrow right-arrow" onclick="nextImage('{{ section.name }}')"></i>
                      <span id="imageCount{{ section.name }}" class="image-counter"></span>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <p class="text-muted">No events available.</p>
  {% endfor %}
</div>
